.ag-launch-page-container-bb {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(/imgs/Animation/Body_Butter_LP_BG.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scroll-behavior: smooth;
}

.bb-product-title {
  height: 100vh;
  overflow: hidden;
  /* border: 1px solid rgba(0, 47, 255, 0.726); */
}

#bb-animated-title {
  font-weight: bold;
  margin: 0;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--theme-font-fam-primary);
  font-size: 8vh;
  transition: font-size 0.3s ease;
  color: #183457;
  width: 100%;
  /* border: 1px solid red; */
}

.ag-product-animation-container-bb {
  height: 100vh;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.em {
  height: 500vh;
}
