.ag-launch-page-container-cm {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(/imgs/Animation/CalmingMoisturizerLP_BG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  scroll-behavior: smooth;
}

/* 1. Title Div */
.calm_product-title_m {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.calm_left-title_m {
  width: 50%;
  position: fixed;
  height: 90%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.calm_right-title_m {
  width: 50%;
  position: fixed;
  height: 90%;
  display: flex;
  left: 50%;
  justify-content: left;
  align-items: center;
}

#calm_animated-title_m {
  font-weight: bold;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 10vh;
  transition: font-size 0.3s ease;
  color: #183457;
  color: white;
  color: #3b4322;
}
.ag-launch-page-title-cm {
  height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.ag-launch-title-part-cm {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
}

.ag-launch-title-part-cm h1 {
  font-size: 75px;
  font-family: var(--theme-font-fam-primary);
  font-weight: 300;
  text-transform: uppercase;
}

.title-part-Hook-1-cm {
  z-index: 10;
}

.title-part-Hook-2-cm {
  opacity: 0;
}

.title-part-Hook-3-cm {
  opacity: 0;
}
.title-part-Hook-4-cm {
  opacity: 0;
}

/* Canvas 1 */

.ag-product-animation-container-m-1-cm {
  height: 150vh;
  display: flex;
  justify-content: center;
}

#ag-product-animation-canvas-1-cm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 25%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 15% 0%;
}



.ag-product-benefit-container-cm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.ag-product-benefit-title-cm{
  height: 80px;
}

.ag-product-benefit-title-cm h2{
  font-family: var(--theme-font-fam-primary);
  color: #e3e898;
  font-weight: 300;
}

.ag-product-benefit-list-cm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ag-product-benefit-list-cm li{
  color: #e3e898;
  font-size: 14px;
  font-family: var(--theme-font-fam-secondary);
  text-decoration: none;
  list-style-type: none
}




/* Ingredients */
.ag-animation-3-cm {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3b4322;
}

.ag-animation-3-cm h1 {
  font-weight: 500;
  font-size: 14px;
  color: #e3e898;
  font-family: var(--theme-font-fam-primary);
}

.ag-product-ingredients-container-cm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.ag-product-ingredients-container-div-cm {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
  margin-top: 40px;
}

.ag-product-ingredients-container-div-cm::-webkit-scrollbar-thumb {
  background: #e3e898;
  cursor: pointer;
}

.ag-product-ingredient-card-cm {
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: var(--theme-font-fam-secondary);
  margin: 10px 10px 40px 20px;
  border-radius: 10px;
  color: #e3e898;
  border: 1px solid #59662e;
}

.ag-product-ingredient-card-cm img {
  height: 300px;
  margin-bottom: 10px;
  animation: ingAnimate 3s ease-in-out infinite;
}

@keyframes ingAnimate {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.ag-product-ingredient-card-cm h1 {
  font-weight: 500;
  font-size: 18px;
  border-top: 1px solid #e3e898;
  width: 100%;
  padding-top: 10px;
}

.ag-product-ingredient-card-cm span {
  font-weight: 500;
  font-size: 12px;
  padding: 0% 2%;
}

@media screen and (min-width: 1280px) {
  .ag-product-ingredients-container-div-cm {
    width: 60%;
  }
}




.ag-product-result img{
  width: 100%;
}

.img-large{
  display: none;
}

@media screen and (min-width: 1280px) {
  .img-small{
    display: none;
  }
  .img-large{
    display: block;
  }
}

.ag-pre-order-btn-div{
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.ag-pre-order-btn{
  background-color: #e3e898;
  padding: 6px 30px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: var(--theme-font-fam-secondary);
  font-size: 12px;
  color: #3b4322;
  border-radius: 2px;
  letter-spacing: 2px;
}





.ag-scroll-text{
  width: 14px;
  padding: 15px 0;
  position: fixed;
  bottom: 35px;
  right: 20px;
  animation: scrollUpDown 3s ease-in-out infinite;
}

@keyframes scrollUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.ag-scroll-text p {
  font-size: 10px;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #183457;
}

.ag-scroll-text p span {
  margin-top: -5px;
}